body {
    /*background-color: lightgray;*/
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}


.loader-hidden {
    display: none;
}
.loader-active {
    display: block;
}

#loader {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#main {
    position: relative;
    top: 55px;
}

#statistics-table {
    position: relative;
    top: 50px;
}

#statistics {
    margin-bottom: 10px;
}

#history-data .pagination-bottom {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

.stat-value {
    margin-right: 10px;
}

.stat-key {
    text-align: right;
    font-weight: bold;
}
